.result {
  margin-top: 15px;
  justify-content: center;

  // @media screen and (max-width: 640px) {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  // }
}

.shakeThePlate-container {
  max-width: 100%;
  padding: 0;
}

.shakeThePlate-timmer {
  display: flex;
  flex-wrap: wrap;
  max-width: 35%;
  flex-basis: 35%;
  justify-content: space-around;
  align-items: center;

  // @media screen and (max-width: 992px) {
  //   flex-basis: 310px;
  //   max-width: 310px;
  // }
}

.shakeThePlate-betList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.col-plateodd,
.col-plateeven {
  flex-basis: 50%;
  max-width: 50%;
}

// .col-plateeven {
//   grid-column: 3 / span 2;

//   @media screen and (max-width: 640px) {
//     grid-column: 2;
//   }
// }

@mixin shaketheplate($col1) {
  .#{$col1} {
    //position: absolute;
    background: url("/game-admin/images/xocxoc/#{$col1}.png") center no-repeat;
    //width: 100px;
    height: 24px;
    background-size: contain;
  }
}

@include shaketheplate("mottrangbado");
@include shaketheplate("motdobatrang");
@include shaketheplate("bontrang");
@include shaketheplate("bondo");
