.bigsmallturbo {
  .turbo {
    left: 80px;
    position: absolute;
    color: white;
    font-size: 25px;
    text-transform: uppercase;

    @media screen and (max-width: 1024px) {
      font-size: 18px;
    }
  }

  .betlist {
    display: flex;
    flex-direction: row;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.base-result {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  flex-basis: 60%;
  justify-content: space-around;
  align-items: center;

  @media screen and (max-width: 640px) {
    padding: 0;
    max-width: 150px;
    flex-basis: 150px;
  }
}

.game-control-panel {
  width: 350px;

  & > div {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #411212;
    border: 5px solid #660f10;
    border-radius: 20px;
    z-index: 99;
    padding: 5px;
  }

  div[class^="dice_dice"] {
    margin: 0;
  }
}
