.wrapper {
  border: 2px solid #b17817;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background: #2e0e0b;
}

.content {
  justify-content: center;
  align-items: center;
}

.win {
  color: #ffb800;
  font-weight: 500;
}
