.totalUser {
  font-size: 25px;
  font-weight: 500;
  width: 70px;
  color: white;

  .icon {
    background: url("/game-admin/images/common/usergroup.png") no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    background-size: contain;
    margin: 4px 5px 2px 2px;
  }

  @media screen and (max-width: 640px) {
    font-size: 20px;

    .icon {
      margin: 0;
    }
  }
}
