$font-size: 1.4rem;
$font-family: 'Roboto', Arial, sans-serif;
$page-bg: #f1f5f9;
$text-color: #27303f;

$theme-color: #1b55e2;

$sidebar-bg: #fff;

$btn-submit-bg-color: #1b55e2;
$btn-submit-color: #fff;
$btn-submit-bg-color-hover: darken($btn-submit-bg-color, 4%);
$btn-submit-color-hover: #fff;

$btn-add-bg-color: #8cbe42;
$btn-add-color: #fff;
$btn-add-bg-color-hover: darken($btn-add-bg-color, 4%);
$btn-add-color-hover: #fff;

$btn-yellow-bg-color: #e2a03f;
$btn-yellow-color: #fff;
$btn-yellow-bg-color-hover: darken($btn-yellow-bg-color, 4%);
$btn-yellow-color-hover: #fff;

$btn-gray-bg-color: #6c757d;
$btn-gray-color: #fff;
$btn-gray-bg-color-hover: darken($btn-gray-bg-color, 4%);
$btn-gray-color-hover: #fff;

$btn-blue-bg-color: #16aaff;
$btn-blue-color: #fff;
$btn-blue-bg-color-hover: darken($btn-blue-bg-color, 4%);
$btn-blue-color-hover: #fff;