/*@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-icons/MaterialIcons-Regular.eot);
    src: url(../fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'), url(../fonts/material-icons/MaterialIcons-Regular.woff) format('woff'), url(../fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}*/

/*.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}*/

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icons/icomoon.eot?qhn8wv');
    src: url('../fonts/icons/icomoon.eot?qhn8wv#iefix') format('embedded-opentype'), url('../fonts/icons/icomoon.ttf?qhn8wv') format('truetype'), url('../fonts/icons/icomoon.woff?qhn8wv') format('woff'), url('../fonts/icons/icomoon.svg?qhn8wv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-card-game:before {
    content: "\e90e";
}

.icon-poker-chip:before {
    content: "\e90f";
}

.icon-link:before {
    content: "\e90d";
}

.icon-logout:before {
    content: "\e90c";
}

.icon-account-add:before {
    content: "\e900";
}

.icon-account-circle:before {
    content: "\e901";
}

.icon-account-group:before {
    content: "\e902";
}

.icon-account-pin:before {
    content: "\e903";
}

.icon-bot:before {
    content: "\e904";
}

.icon-cancel:before {
    content: "\e905";
}

.icon-casino:before {
    content: "\e906";
}

.icon-chart:before {
    content: "\e907";
}

.icon-check:before {
    content: "\e908";
}

.icon-edit:before {
    content: "\e909";
}

.icon-history:before {
    content: "\e90a";
}

.icon-note-add:before {
    content: "\e90b";
}
