body {
  background-color: #d3d3d3;
  padding: 10px;
}

.hide {
  display: none !important;
}

.group {
  padding-top: 10px;
}

.game-round, .game-start-time, .game-end-time {
  display: inline-block;
  padding-right: 20px;
}

.bet-options-group, .choosed-bets-group {
  height: 100px;
}

.bet-option {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-size: 100% 100%;
  cursor: pointer;

  &:disabled {
      display: none;
  }
}
