.adjust-bot-link {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem; }
  .adjust-bot-link .bot {
    position: relative;
    top: 4px;
    left: -3px;
    font-size: 1.8rem; }

.adjust-bot-hours .modal-dialog {
  max-width: 87rem; }

.adjust-bot-hours .modal-body {
  max-height: 50rem;
  overflow: auto; }

.adjust-bot-hours .ratio {
  width: 5rem;
  line-height: 1.5rem;
  border-radius: .2rem;
  border: 1px solid #ced4da;
  text-align: center; }

.adjust-bot-hours .table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center; }
  .adjust-bot-hours .table td.ratio-cell {
    text-align: left; }

.adjust-bot-hours .options {
  margin-left: -12px;
  margin-right: -12px; }

.adjust-bot-hours .bot-number {
  margin-top: 2px;
  font-size: 1.1rem;
  color: #6c757d; }

.adjust-bot-hours .col-gmt {
  width: 120px; }

.adjust-bot-hours .input-validation-error {
  border: 1px solid #dc3545; }

.adjust-bot-hours .text-danger {
  font-size: 1.1rem; }
