.form-filter .input-validation-error {
  border: solid 1px red; }

.report-result .report-container {
  padding-left: 0; }

.table {
  background-color: #fff; }
  .table .icon-action:hover {
    text-decoration: none; }
  .table thead tr {
    background: #1b55e2;
    color: white; }
  .table th {
    text-align: center;
    background: #1b55e2; }
  .table .toggle-button {
    margin-left: auto;
    margin-right: auto; }
  .table .col-check {
    width: 4rem; }
  .table .col-status {
    width: 10rem; }
  .table .message {
    width: calc(100% - 5rem); }
  .table .content-message {
    max-width: calc(100% - 5rem); }
  .table .btn-save,
  .table .btn-edit {
    width: 4rem;
    background: none;
    border: none;
    outline: none; }
  .table .btn-save {
    position: relative;
    top: -1.1rem; }
  .table .icon-save {
    font-size: 2.5rem;
    color: #3ac47d; }
    .table .icon-save:hover {
      color: #3ac47d; }
  .table .icon-edit {
    position: relative;
    top: .3rem;
    font-size: 1.6rem;
    color: #6c757d; }
    .table .icon-edit:hover {
      color: #3ac47d; }
  .table .icon-history {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem; }
  .table .icon-chart {
    font-size: 1.8rem; }
  .table .icon-check {
    color: #3ac47d; }
  .table .icon-cancel {
    color: #ff0000; }

.hidden-cls {
  display: none; }

.edit-modal .message-success, .edit-modal .message-error, .enable-modal .message-success, .enable-modal .message-error {
  position: absolute;
  width: calc(100% - 20px);
  left: 10px;
  top: 53px;
  margin: 0;
  background: #fff;
  box-shadow: 0 10px 6px -6px #777;
  z-index: 1; }
  .edit-modal .message-success i, .edit-modal .message-error i, .enable-modal .message-success i, .enable-modal .message-error i {
    position: absolute;
    top: 13px; }
  .edit-modal .message-success span, .edit-modal .message-error span, .enable-modal .message-success span, .enable-modal .message-error span {
    padding-left: 30px; }

.edit-modal .details-content {
  max-height: 500px;
  overflow-y: auto; }

.edit-modal .modal-dialog {
  max-width: 700px; }

.edit-modal .row-options {
  width: 680px;
  display: flex; }
