.bola-config {
    .input-validation-error {
        border: solid 1px red;
    }
}

.bola-config-report {
    .report-container{
        padding-left: 0;
    }
}

.table {
    background-color: #fff;

    .icon-action:hover {
        text-decoration: none;
    }

    thead tr {
        background: #1b55e2;
        color: white;
    }

    th {
        text-align: center;
        background: #1b55e2;
    }

    .toggle-button {
        margin-left: auto;
        margin-right: auto;
    }

    .col-check {
        width: 4rem;
    }

    .col-status {
        width: 10rem;
    }

    .message {
        width: calc(100% - 5rem);
    }

    .content-message {
        max-width: calc(100% - 5rem);
    }

    .btn-save,
    .btn-edit {
        width: 4rem;
        background: none;
        border: none;
        outline: none;
    }

    .btn-save {
        position: relative;
        top: -1.1rem;
    }

    .icon-save {
        font-size: 2.5rem;
        color: #3ac47d;

        &:hover {
            color: #3ac47d;
        }
    }

    .icon-edit {
        position: relative;
        top: .3rem;
        font-size: 1.6rem;
        color: #6c757d;

        &:hover {
            color: #3ac47d;
        }
    }

    .icon-history {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
    }

    .icon-chart {
        font-size: 1.8rem;
    }

    .icon-check {
        color: #3ac47d;
    }

    .icon-cancel {
        color: #ff0000;
    }
}

.hidden-cls {
    display: none;
}

.edit-modal, .edit-amount-modal, .reload-modal {
    .message-success, .message-error {
        position: absolute;
        width: calc(100% - 20px);
        left: 10px;
        top: 53px;
        margin: 0;
        background: #fff;
        box-shadow: 0 10px 6px -6px #777;
        z-index: 1;

        i {
            position: absolute;
            top: 13px;
        }

        span {
            padding-left: 30px;
        }
    }
}

.list-actions{
    margin-top: 10px;
}

.edit-amount-modal {
    .modal-dialog {
        max-width: 1000px;
    }

    .row-options {
        width: 980px;
        display: flex;
    }

    .currency-field{
    } 
    
    .table {
        .name-col {
            width: 300px;
        }

        .num-col {
            width: 150px;
        }

        .percent-col {
            width: 100px;
        }
    }
}