.game-status {
  padding-left: 0;
  padding-right: 0; }
  .game-status .list-actions {
    margin-bottom: 1.6rem; }
  .game-status .btn-enable, .game-status .btn-middle {
    margin-right: 1.4rem; }
  .game-status .force-reload {
    margin-left: 14px; }
    .game-status .force-reload input {
      top: 0px;
      margin-right: 3px; }

.table {
  background-color: #fff; }
  .table .icon-action:hover {
    text-decoration: none; }
  .table thead tr {
    background: #1b55e2;
    color: white; }
  .table th {
    text-align: center;
    background: #1b55e2; }
  .table .toggle-button {
    margin-left: auto;
    margin-right: auto; }
  .table .col-check {
    width: 4rem; }
  .table .col-status {
    width: 10rem; }
  .table .message {
    width: calc(100% - 5rem); }
  .table .content-message {
    max-width: calc(100% - 5rem); }
  .table .btn-save,
  .table .btn-edit {
    width: 4rem;
    background: none;
    border: none;
    outline: none; }
  .table .btn-save {
    position: relative;
    top: -1.1rem; }
  .table .icon-save {
    font-size: 2.5rem;
    color: #3ac47d; }
    .table .icon-save:hover {
      color: #3ac47d; }
  .table .icon-edit {
    position: relative;
    top: .3rem;
    font-size: 1.6rem;
    color: #6c757d; }
    .table .icon-edit:hover {
      color: #3ac47d; }
  .table .icon-history {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem; }
  .table .icon-chart {
    font-size: 1.8rem; }
  .table .icon-check {
    color: #3ac47d; }
  .table .icon-cancel {
    color: #ff0000; }

.hidden-cls {
  display: none; }

.game-details-content {
  max-height: 500px;
  overflow-y: auto; }

.message-modal .text-message {
  padding: 10px 10px; }
  .message-modal .text-message textarea {
    padding: 5px 8px; }

.message-modal .apply-all-checkbox {
  padding: 10px 10px; }

.message-modal input, .message-modal label {
  cursor: pointer; }

.game-modal .message-success, .game-modal .message-error, .message-modal .message-success, .message-modal .message-error, .bot-ratio-modal .message-success, .bot-ratio-modal .message-error {
  /*position: absolute;
        width: calc(100% - 20px);
        left: 10px;
        top: 53px;*/
  margin: 0;
  background: #fff;
  box-shadow: 0 10px 6px -6px #777;
  z-index: 1; }
  .game-modal .message-success i, .game-modal .message-error i, .message-modal .message-success i, .message-modal .message-error i, .bot-ratio-modal .message-success i, .bot-ratio-modal .message-error i {
    position: absolute;
    top: 13px; }
  .game-modal .message-success span, .game-modal .message-error span, .message-modal .message-success span, .message-modal .message-error span, .bot-ratio-modal .message-success span, .bot-ratio-modal .message-error span {
    padding-left: 30px; }

.game-modal .setting-model .message-error span {
  padding-left: 0px; }

.game-setting-modal .modal-dialog {
  max-width: 1000px; }

.game-setting-modal .row-options {
  width: 980px;
  display: flex; }

.reload-content-body .message-success, .reload-content-body .message-error {
  margin: 5px 3px; }

.reload-content-body .reload-content {
  padding-left: 3px; }

.enable-disable-modal .content-body {
  font-size: 16px; }
  .enable-disable-modal .content-body ul {
    list-style: disc;
    font-weight: bold;
    font-size: 15px; }

.enable-disable-modal .force-reload-checkbox {
  padding: 10px 0; }

.umModal .checkbox-UM {
  margin-right: 5px; }
