.game-status {
    padding-left: 0;
    padding-right: 0;

    .list-actions {
        margin-bottom: 1.6rem;
    }

    .btn-enable, .btn-middle {
        margin-right: 1.4rem;
    }

    .force-reload {
        margin-left: 14px;

        input {
            top: 0px;
            margin-right: 3px;
        }
    }
}

.table {
    background-color: #fff;

    .icon-action:hover {
        text-decoration: none;
    }

    thead tr {
        background: #1b55e2;
        color: white;
    }

    th {
        text-align: center;
        background: #1b55e2;
    }

    .toggle-button {
        margin-left: auto;
        margin-right: auto;
    }

    .col-check {
        width: 4rem;
    }

    .col-status {
        width: 10rem;
    }

    .message {
        width: calc(100% - 5rem);
    }

    .content-message {
        max-width: calc(100% - 5rem);
    }

    .btn-save,
    .btn-edit {
        width: 4rem;
        background: none;
        border: none;
        outline: none;
    }

    .btn-save {
        position: relative;
        top: -1.1rem;
    }

    .icon-save {
        font-size: 2.5rem;
        color: #3ac47d;

        &:hover {
            color: #3ac47d;
        }
    }

    .icon-edit {
        position: relative;
        top: .3rem;
        font-size: 1.6rem;
        color: #6c757d;

        &:hover {
            color: #3ac47d;
        }
    }

    .icon-history {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
    }

    .icon-chart {
        font-size: 1.8rem;
    }

    .icon-check {
        color: #3ac47d;
    }

    .icon-cancel {
        color: #ff0000;
    }
}


.hidden-cls {
    display: none;
}

.game-details-content{
    max-height: 500px;
    overflow-y: auto;
}

.message-modal {
    .text-message {
        padding: 10px 10px;

        textarea {
            padding: 5px 8px;
        }
    }

    .apply-all-checkbox {
        padding: 10px 10px;
    }

    input, label {
        cursor: pointer;
    }
}

.game-modal, .message-modal, .bot-ratio-modal {
    .message-success, .message-error {
        /*position: absolute;
        width: calc(100% - 20px);
        left: 10px;
        top: 53px;*/
        margin: 0;
        background: #fff;
        box-shadow: 0 10px 6px -6px #777;       
        z-index: 1;

        i {
            position: absolute;
            top: 13px;
        }

        span {
            padding-left: 30px;
        }
    }
}

.game-modal .setting-model {
    .message-error span {
        padding-left: 0px;
    }
}

.game-setting-modal {
    .modal-dialog {
        max-width: 1000px;
    }

    .row-options {
        width: 980px;
        display: flex;
    }
}

.reload-content-body {
    .message-success, .message-error {
        margin: 5px 3px;
    }

    .reload-content {
        padding-left: 3px;
    }
}

.enable-disable-modal {
    .content-body{
        font-size: 16px;
        ul {
            list-style: disc;
            font-weight: bold;
            font-size: 15px;
        }
    }

    .force-reload-checkbox {
        padding: 10px 0;
    }
}

.umModal {
    .checkbox-UM {
        margin-right: 5px;
    }
}
