.signing-credential {
    .signing-credential-container {
        padding-left: 0;
    }
}

.table {
    background-color: #fff;

    .icon-check {
        color: #3ac47d;
    }

    thead tr {
        background: #1b55e2;
        color: white;

        th {
            background: #1b55e2;
            vertical-align: middle;
        }
    }
}

.hidden-cls {
    display: none;
}

.list-actions {
    margin-bottom: 10px;
}