<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="paAppPath" value="&quot;C:\Program Files (x86)\PuTTY\pageant.exe&quot;"></add>
    <add key="privateKeyPath" value="D:\Shared\Working\13092012\NAPProject\PuttyKeySSH_\.ssh\PrivateKeyGitBash1.ppk"></add>
    <add key="sysWOW64Path" value="C:\Windows\SysWOW64\cmd.exe"></add>
    <add key="shAppPath" value="&quot;C:\Program Files (x86)\Git\bin\sh.exe&quot;"></add>
    <add key="ssmsLoginOption" value="-S 10.18.200.215 -U accteam -P @dragon# -nosplash"></add>
  </appSettings>
</configuration>