@using GamesAdmin.Site.Features.Account.ViewModels;
@model AddViewModel;

@{
    ViewData["Title"] = "Account";
}


        <div class="col-md-12 col-lg-6 card">
            <form class="card-body form-add form" asp-action="Add" asp-controller="Account" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="TextNames" class="control-label"></label>
                    <textarea asp-for="TextNames" class="form-control" placeholder="Names are separated by ';'"></textarea>
                    <span asp-validation-for="TextNames" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div>
                        <input type="checkbox" asp-for="IsBot" />
                        <label asp-for="IsBot" class="control-label"></label>
                    </div>
                    <span asp-validation-for="IsBot" class="text-danger"></span>
                </div>

                @if (Model.Results?.Count > 0)
                {
                    <div class="form-group">
                        <ul>
                            @foreach (var result in Model.Results)
                            {
                                <li>Account @result.Username/@result.Password as @result.Name @(result.IsSuccess ? "was" : "not") created</li>
                            }
                        </ul>
                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn-submit" />
                </div>
            </form>
        </div>


@section Scripts {
    <script type="text/javascript" src="~/js/GameSettings.js"></script>
}

