@using GamesAdmin.Site.Features.Account.ViewModels;
@model ReviseBotViewModel;

@{
    ViewData["Title"] = "Revise Bots";
}


        <div class="col-md-12 col-lg-6 card">
            <form class="card-body form-add" asp-action="ReviseBots" asp-controller="Account" method="post">

                <div class="form-group">
                    <label class="control-label">Click button to check all bot names and correct which names are invalid, insert current bots to new games if any.</label>
                </div>

                @if (Model.Success)
                {
                    <div class="form-group">
                        <label class="control-label">Revised @Model.Updated bot(s)</label>
                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="Revise" class="btn-submit" />
                </div>
            </form>
        </div>



