html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  background: #280a06 url("/game-admin/images/common/background-home.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1366px) {
  .container {
    width: 100%;
    max-width: unset;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding: 10px;
  }

  .col {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.notice {
  & > div {
    align-items: center;
    background-color: #411212;
    border: 2px solid #660f10;
    border-radius: 15px;
    color: #f0f0f0;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;

    @media screen and (max-width: 1023px) {
      font-size: 12px;
    }

    @media screen and (max-width: 768px) {
      padding: 20px;
    }
  }
}

.btn-control-result {
  position: relative;
  top: 0;
  align-items: center;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  line-height: 40px;
  height: 40px;
  padding: 0 30px;
  border: 0;
  background-color: #a5de37;
  border-color: #a5de37;
  color: #fff;
  box-shadow: 0 5px 0 #8bc220, 0 8px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 0 2px 0 #6b9619, 0 3px 3px rgba(0, 0, 0, 0.2);
    top: 5px;
    transition: all 0.15s;
  }
}
.action-group {
  justify-content: center;
  padding-bottom: 30px;
  border-top: 0;

  .btn-submit,
  .btn-cancel {
    position: relative;
    margin: 5px 10px;
    align-items: center;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    line-height: 40px;
    height: 40px;
    padding: 0 30px;
    border: 0;
    top: 0;
  }

  .btn-submit {
    background-color: #1b9af7;
    border-color: #1b9af7;
    color: #fff;
    box-shadow: 0 5px 0 #0880d7, 0 8px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: 0 2px 0 #0880d7, 0 3px 3px rgba(0, 0, 0, 0.2);
      top: 5px;
      transition: all 0.15s;
    }
  }

  .btn-cancel {
    color: #fff;
    border-radius: 10px;
    line-height: 40px;
    height: 40px;
    padding: 0 30px;
    border: 0;
    background-color: #eee;
    border-color: #eee;
    color: #333;
    box-shadow: 0 5px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: 0 2px 0 #bbbbbb, 0 3px 3px rgba(0, 0, 0, 0.2);
      top: 5px;
      transition: all 0.15s;
    }
  }
}

.modal-header .close:focus {
  outline: none;
}
