.btn-header {
  position: absolute;
  right: 0;
  top: 0;
}
.row-style {
  justify-content: center;

  div {
    width: 150px;
  }
}

.title {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
}

.card-result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2px;
}

.third-card {
  width: 74px;

  & > div {
    transform: rotate(-90deg);
  }
}

.timecounter {
  text-align: center;
}

.set-button {
  width: 100px;
  height: 50px;
  background: -webkit-linear-gradient(yellow, orange);
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.baccarat-betlist {
  text-align: center;
}
