<div class="row">
    <div class="col-md-10 col-lg-6 card">
        <form class="card-body form-add" asp-action="Add" asp-controller="GameSettings" method="post">
            <div class="form-group">
                <label class="control-label">Old password</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">New password</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Confirm new password</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn-submit" />
            </div>
        </form>
    </div>
</div>


