<div class="row">
    <div class="col-md-10 col-lg-6 card">
        <form class="card-body form" asp-action="Add" asp-controller="GameSettings" method="post">
            <div class="form-group">
                <label class="control-label">Message Type</label>
                <select class="form-control">
                    <option>Game maintenance</option>
                    <option>System maintenance</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Message</label>
                <textarea class="form-control">
                </textarea>
            </div>
            <div class="form-group">
                <label class="control-label"><input type="checkbox" /> Display on marquee</label>
            </div>
            <div class="form-group">
                <label class="control-label"><input type="checkbox" /> Display toast message (auto hide in 20 seconds)</label>
            </div>
            <div class="form-group">
                <label class="control-label"><input type="checkbox" /> Display popup (require user to close)</label>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn-submit" />
            </div>

            <a href="#">Open game status</a>
        </form>
    </div>
</div>


