<div class="header-bar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#shakeThePlate" role="tab" data-toggle="tab" aria-controls="shakeThePlate" aria-selected="true">
                <span>Shake the Plate</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#bigSmall" role="tab" data-toggle="tab" aria-controls="bigSmall" aria-selected="false" >
                <span>Big Small</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#fishPrawnCrab" role="tab" data-toggle="tab"  aria-controls="fishPrawnCrab" aria-selected="false">
                <span>Fish Prawn Crab</span>
            </a>
        </li>
    </ul>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active row" id="shakeThePlate" role="tabpanel" aria-labelledby="shakeThePlate-tab">
        <div class="col-md-10 col-lg-6 card">
            <form class="card-body form">
                <div class="form-group">
                    <label for="minimum" class="control-label">Minimum Bet Limit</label>
                    <input type="number" id="minimum" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="maximum" class="control-label">Maximum Bet Limit</label>
                    <input type="number" id="maximum" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn-submit" />
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade row" id="bigSmall" role="tabpanel" aria-labelledby="bigSmall-tab">
        <div class="col-md-10 col-lg-6 card">
            <form class="card-body form">
                <div class="form-group">
                    <label for="minimum" class="control-label">Minimum Bet Limit</label>
                    <input type="number" id="minimum" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="maximum" class="control-label">Maximum Bet Limit</label>
                    <input type="number" id="maximum" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn-submit" />
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade row" id="fishPrawnCrab" role="tabpanel" aria-labelledby="fishPrawnCrab-tab">
        <div class="col-md-10 col-lg-6 card">
            <form class="card-body form">
                <div class="form-group">
                    <label for="minimum" class="control-label">Minimum Bet Limit</label>
                    <input type="number" id="minimum" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="maximum" class="control-label">Maximum Bet Limit</label>
                    <input type="number" id="maximum" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn-submit" />
                </div>
            </form>
        </div>
    </div>
</div>
